<h1>Spot</h1>

<h2>Services</h2>
{{ services }}
<ul>
    {% for service in services %}
    <li>
        <h3>{{ service.name }}</h3>
        <ul>
            <li><a href={{ service.htmlUrl }} target='_blank'>Github</a></li>
            <li>Branch: {{ service.defaultBranch }}</li>
        </ul>
    </li>
    {% endfor %}
</ul>